$light-gray: #E4DCCF;
$dark-Green: #263A29; 
$dark-Green-active: #263B29; 
$light-pink: #F2E3DB;
$linear-green: 180deg, #215F00 0%, rgba(87, 132, 60, 0.787448) 56.25%, rgba(228, 228, 217, 0.23) 100%;
$linear-green-2: 124.41deg, #215F00 22.85%, rgba(87, 132, 60, 0.787448) 70.33%;
$primary: #215F00;
$red-highlight: #F24E1E;
$bg-carousel-desktop: rgba(39, 59, 42, 0.23);

/* breakpoint */
$mobile: 768px;

