@import './../../../styles/variables';

.main {
    box-sizing: border-box;
    min-width: 86.31vw;
    height: fit-content;
    padding: 1rem;
    margin: 6.1rem auto;
    border-radius: 10px;
}

@media  (min-width: 768px) {
    .main {
        box-sizing: border-box;
        max-width: 95vw;
        height: fit-content;
        background: rgba(288, 220, 209, 0.7);
    }
    
}
