@import '@/styles/variables';

.main {
    box-sizing: border-box;
    min-width: 86.31vw;
    height: fit-content;
    padding: 1rem;
    margin: 1rem auto;
}

@media  (min-width: 768px) {
    .main {
        box-sizing: border-box;
        max-width: 95vw;
        height: fit-content;
        padding: 1rem;
        margin: 1rem auto;
    }
    
}

@media (min-width: 768px) {
    .main {
        background: rgba(288, 220, 209, 0.7);
    }
}