@import '@/styles/variables';



.header {
    display: block;
    width: 100vw;
    background: white;
    box-sizing: border-box;
    height: 112px;
    padding: 0.5rem;
    margin: 0;

    &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        min-width: 331px;
        // border: 1px solid tomato;
        // padding: 1.5rem;
    }

    .nav-is-closed {
        
        & img:nth-child(1){
            display: block;
        }

        & img:nth-child(2){
            display: none;
        }

    }

    .nav-is-opened {
        
        & img:nth-child(1){
            display: none;
        }

        & img:nth-child(2){
            display: block;
        }

    }



    // & .btn-hambuguer{
    //     flex-grow: 1;
    // }

    // & .image-logo{
    //     flex-shrink: 1;
    // }

    // & .icon-remedy{
    //     flex-grow: 0.5;
    // }
}