@import '@/styles/variables';



.header {
    position: fixed;
    z-index: 1;
    top:0;
    // min-width: 375px;
    min-width: 100vw;
    background: white;
    box-sizing: border-box;
    height: 95px;
    padding-left: 1rem;
    padding-right: 2rem;
    margin: 0;
    
    &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        min-width: 331px;
    }

    .nav-is-closed {
        
        & img:nth-child(1){
            display: block;
        }

        & img:nth-child(2){
            display: none;
        }

    }

    .nav-is-opened {
        
        & img:nth-child(1){
            display: none;
        }

        & img:nth-child(2){
            display: block;
        }

    }

}
@media(min-width: $mobile) {
  
    .header {
     padding-left: 5rem;
     padding-right: 5rem;
    } 
}  