@import '@/styles/variables';

.btn {
    min-width: 80%;
    background: $primary;
    font-size: 32px;
    color: white;
    &:active {
        background: $dark-Green-active;
    }
}

@media(min-width: 768px){
    .btn {
        min-width: 105px;
        &:hover{
            opacity: 95%;
        }
        &:active {
            background: $dark-Green-active;
        }
    }
}

.text{
    font-size: 24px;
}

