@import './../../styles/variables';

.wrapper-highlight {
    display: flex;
    flex-flow: column wrap;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    background: $light-pink;
    border-radius: 11px;

}

@media(min-width:768px) {
    .wrapper-highlight {
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        min-width: 83vw;
        min-height: 20vh;
    }
}

.box1 {
    width: 100%;
}

@media(min-width:768px) {
    .box1 {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 50%;
    }
}

.title {
    font-size: 24px;
    height: fit-content;
    text-align: center;
}

@media(min-width:768px) {
    .title {
        width: fit-content;
    }
}

.image {
    width: fit-content;
    height: fit-content;
    border-radius: 22px;
    margin: 0.5rem 0;
}

@media(min-width:768px) {
    .image {
        max-width: 70%;
        height: 183px;
        border-radius: 22px;

        &:hover {
            opacity: 90%;
        }
    }
}

.box2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media(min-width:768px) {
    .box2 {
        width: 40%;
    }
}

.description {
    line-height: 1.4rem;
}

@media(min-width:768px) {
    .description {
        width: 100%;
        text-align: center;
    }
}

.price {
    color: $dark-Green;
    text-align: left;
    font-size: 32px;
    width: fit-content;
    margin: 0.5rem 0;
}



.default-offers-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 350px;
    margin: 5rem auto;
    padding: 1rem;
    gap: 3rem;
    border-radius: 1rem;
}

@media (min-width:768px) {
    .default-offers-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: baseline;
        max-width: 83vw;
        padding: 1rem;
        gap: 5rem;
    }
}


.wrapper-default {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    align-items: center;
    box-sizing: border-box;
    max-width: 90%;
    height: fit-content;
    background: $light-pink;
    border-radius: 1rem;

    & img {
        margin-top: 1rem;
        width: 100%;
        height: fit-content;
    }

    & .box1 {
        line-height: 1rem;
    }

    & .box2 {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (min-width:768px) {
    .wrapper-default {
        flex-flow: row wrap;
        padding: 1rem;
        align-items: first baseline;
        width: 45%;
        height: fit-content;
        background: $light-pink;
        border-radius: 1rem;

        & img {
            min-width: 100px;
            min-height: 100px;
            max-width: 200px;
            max-height: 200px;
        }

        & .box1 {}

        & .box2 {
            margin-left: 1rem;
            display: flex;
            flex-flow: row wrap;
        }
    }
}